/* webFont */
@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+AC00- U+D7A3;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

.wrap {
  background: linear-gradient(#f3826f, #2d3561);
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "roboto", "Noto Sans KR", "NeoDunggeunmo", sans-serif;
  overflow: hidden;
}
ul {
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: "NeoDunggeunmo";
}
a {
  display: block;
}
.ezkorry-roller {
  overflow: hidden;
  /* white-space: nowrap; */
}
/* nav */
.gnb {
  font-family: "NeoDunggeunmo", sans-serif;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  height: 5vh;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
}
.projectNav {
}
.gnb li {
  border-right: 1px solid #fff;
  width: 25%;
  text-align: center;
}
.gnb li a {
  color: #fff;
  display: block;
  height: 2.8125rem;
  line-height: 2.8125rem;
}
.gnb li img {
  width: 20px;
}
.gnb li.is-active a {
  color: #ffb961;
}
.projectNav li.is-active a {
  color: #ff8474;
}
.projectNav {
  font-family: "NeoDunggeunmo", sans-serif;
  display: none;
  list-style-type: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  height: 2.8125rem;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  display: none;
}
.projectNavItem {
  border-right: 2px solid #fff;
}
.projectNavItem {
  width: 25%;
  text-align: center;
}
.projectNavItem a {
  color: #fff;
  display: block;
  height: 2.8125rem;
  line-height: 2.8125rem;
}
.activeFlex {
  display: flex;
  justify-content: flex-start;
}
/* main */

.container {
  width: 75%;
  margin: 10% auto;
}
.leftSection {
  width: 50vw;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.7);
  border-right: 2px solid #fff;
}
.rightSection {
  width: 50vw;
  height: 95vh;
}

/******** statusPage **********/

.statusPage {
  display: none;
  background-image: url(../img/bg.gif);
  background-size: cover;
  width: 100vw;
}
.statusPage .leftSection {
  overflow: scroll;
}
.nameTag {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 36px;
  margin-bottom: 48px;
  font-weight: normal;
}
.nameTxt .myName {
  font-size: 64px;
  font-weight: normal;
}
.nameTag img[alt="me"] {
  width: 30%;
}

.exp {
  font-family: "NeoDunggeunmo", sans-serif;
  margin-bottom: 10%;
}
.exp .fullBox {
  width: 100%;
  height: 24px;
  border: 4px solid #fff;
}

.exp .innerBox {
  height: 20px;
  background-color: #fff;
  animation: expLevelup 3s infinite;
}
.exp .expTxt {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

.expTxt .level {
  margin-left: 5px;
}

.title h3 {
  border-bottom: 2px solid #fff;
  font-family: "NeoDunggeunmo";
  padding-bottom: 10px;
}
.titleList {
  font-size: 28px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 24px;
  margin-left: 24px;
}
.titleItem {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.titleEffect {
  position: relative;
  right: 0;
}
.nameTitle {
  padding-left: 32px;
}
.equippedTitle {
  background: url(../img/star.png) no-repeat;
  background-position: left 50%;
  background-size: 20px;
}
.statusPage .rightSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rightSection .me {
  font-family: "NeoDunggeunmo";
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rightSection .titleBox {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  color: #fff;
  padding: 0 10px;
}
.rightSection .nameBox {
  position: absolute;
  bottom: -35px;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  color: #ffb961;
}
.rightSection img[alt="taniWalking"] {
}

/**** projectPage ****/

.projectPage .leftSection {
  overflow-y: scroll;
  height: 90vh;
}
.projectPage .leftSection.displayNone {
  display: none;
}
.projectPage .leftSection::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}
.projectPage .leftSection::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.projectPage {
  display: none;
}
.projectPage .container {
  width: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}
.projectPage h3 {
  font-size: 36px;
  margin-bottom: 0;
}
.projectPage .headingContainer {
  letter-spacing: 0.05em;
}
.mainTitle {
  color: #03c4a1;
  -webkit-text-stroke: 1px #000;
  text-shadow: 4px 4px 0px #000, 7px 7px 0px rgba(0, 0, 0, 0.3);
}
.subTitle {
  color: #03c4a1;
}
.projectInfo {
  font-size: 22px;
}
.hashtag {
  background-color: #03c4a1;
  font-weight: bold;
  padding: 28px 0;
  font-size: 48px;
  width: 100%;
}
.projectInfo .desc {
  font-size: 1.3rem;
}
.infoItem ul {
  margin: 0;
}
.descOfReview,
.descOfDetail,
.descOfProcess {
  margin-bottom: 72px;
  margin-left: 28px;
}
.descOfContribution {
  margin: 72px 28px;
}
:is(.descOfReview, .descOfDetail, .descOfProcess) li {
  margin-bottom: 10px;
}
.infoItem {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contribution .desc {
  text-indent: 28px;
}
.projectInfo .infoItem .headingOfProject {
  font-family: "Noto Sans KR", sans-serif;
  padding: 5px 10px;
  font-size: 36px;
  color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-weight: bold;
  text-align: left;
  text-indent: 28px;
}
.infoItem strong {
  display: block;
  color: #03c4a1;
  /* text-shadow: 4px 4px 0px #000, 7px 7px 0px rgba(0, 0, 0, 0.2); */
  padding: 5px 10px;
  margin-top: 72px;
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
}
.infoItem strong::before {
  content: "#";
}
.process strong::before {
  content: "";
}
.moreinfo {
  width: 100%;
  display: flex;
  border-top: 2px solid #fff;
  font-family: "NeoDunggeunmo", sans-serif;
}
.moreinfo a {
  width: 50%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
}
.moreinfo a:hover {
  background-color: #fff;
  color: #000;
}
.moreinfo .siteLink {
  border-right: 2px solid #fff;
}
/* windowsFrame */

.rightSection .frame {
  width: 90%;
  height: 80vh;

  margin: 50px auto;
  background-color: #c2c2c3;
  border-top: 7px solid #e3e3e3;
  border-left: 7px solid #e3e3e3;
  border-right: 7px solid #6d6e70;
  border-bottom: 7px solid #6d6e70;
  animation: fadeUp forwards 0.5s;
}
.rightSection .frame.fullmode {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  margin: 0;
}
.rightSection .frame.moblie__mode {
  width: 400px;
}

.contentInnerFrame {
  width: 100%;
  height: 100%;
}

.frameHeader {
  background-color: #2d3561;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
}
.framebuttons {
  display: flex;
}
.framebuttons li {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: #c2c2c3;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #6d6e70;
  border-bottom: 1px solid #6d6e70;
}

.framebuttons .line {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #000;
}
.mobileBtn {
  cursor: pointer;
}
.mobileBtn .box {
  position: absolute;
  width: 14px;
  margin-left: 3px;
  height: 20px;
  border: 2px solid #000;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}
.windowedMode {
  cursor: pointer;
}
.windowedMode .box {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-top: 4px solid #000;
}

.tabletBtn .box {
  position: absolute;
  width: 15px;
  height: 20px;
  margin-left: 2px;
  border: 2px solid #000;
  border-top: 4px solid #000;
}

.frameMain {
  background-color: #000;
  background-size: cover;
  overflow-y: scroll;
  width: 98%;
  height: 90%;
  margin: 10px auto;
  border: 7px solid #6d6e70;
}
.frameMain img[alt="towerpilates"] {
  width: 100%;
}
/* skills */

.skillsPage {
  display: none;
}
.skillsPage .container {
  margin: 30% auto;
}
.skillItem {
  margin-bottom: 32px;
}
.nameSkill:hover {
  cursor: pointer;
  color: orange;
}
.nameSkill {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  border-left: 5px solid #fff;
  padding-left: 31px;
  text-transform: uppercase;
}
.descSkill {
  font-size: 20px;
  padding-left: 31px;
  text-align-last: left;
  font-weight: ;
}
.skillsPage .rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.box {
  width: 70%;
  border: 4px solid #fff;
  text-align: left;
}
.descTxt {
  margin-left: 28px;
  list-style: disc;
  font-size: 24px;
}

.box li {
  margin: 28px;
  display: none;
}

.descTxt .activeDesc {
  display: list-item;
}
/* contact */

.contactPage {
  font-family: "NeoDunggeunmo";
  display: none;
}
.contactPage .leftSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactPage .leftSection .contactBox {
  border: 3px solid #fff;
  width: fit-content;
  padding: 10px 20px;
  font-size: 2rem;
  color: #fff;
}
.rightSection .contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactPage img[alt="windowsFrame"] {
  position: relative;
  width: 100%;
  height: 80%;
}
.contactPage .myroom {
  height: 100%;
  background: url(../img/myroomNight.png) 50% 0 / 600px no-repeat;
  position: relative;
}
.contactPage img[alt="tani"] {
  position: absolute;
  width: 10%;
  right: 20%;
  top: 50%;
  transform: translateY(50%);
}
.contactPage img[alt="meSleep"] {
  position: absolute;
  right: 21%;
  top: 25%;
}
.contactPage .txtBox {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  width: 70%;
}
.contactPage .taniScript {
  font-family: "NeoDunggeunmo";
  font-size: 28px;
  margin-left: 36px;
  color: #000;
  position: absolute;
  top: 0;
  line-height: 200px;
}
.contactPage img[alt="script"] {
  width: 300%;
}
.activePage {
  display: flex;
}
.activeProject {
  display: block;
}

/* contactButton */
.wrapper {
  position: relative;
  display: inline-block;
  margin: 35px auto;
}
.header-wrap {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  transform: perspective(200px) rotateX(10deg);
  letter-spacing: 0.1em;
  user-select: none;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #004d40, 0 2px 0 #00483b, 0 3px 0 #004639,
    0 4px 0 #004336, 0 5px 0 #004134, 0 6px 0 #003f32, 0 7px 0 #003d30,
    0 8px 0 #003a2d, 0 9px 0 #00382b, 0 10px 0 #003528, 0 11px 0 #003225,
    0 12px 0 #002f22, 0 13px 0 #002b1e, 0 14px 0 #00281c, 0 15px 0 #001f13,
    0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 30px rgba(0, 0, 0, 0.9),
    0 22px 15px rgba(0, 0, 0, 0.9), 0 11px 15px rgba(0, 0, 0, 0.9),
    0 15px 20px rgba(0, 0, 0, 0.9), 0 15px 11px rgba(0, 0, 0, 0.9),
    0 16px 11px rgba(0, 0, 0, 0.9);
  transition: text-shadow 0.3s ease 0.3s, transform 0.3s ease 0.3s,
    letter-spacing 0.3s ease 0.3s;
}
.header-wrap:hover {
  transition: text-shadow 0.33s ease, transform 0.3s ease,
    letter-spacing 0.3s ease;
  text-shadow: 0 0 0 #004134, 0 1px 0 #00483b, 0 2px 0 #003528,
    0 3px 3px rgba(0, 0, 0, 0.9);
  transform: translate(0px, 15px) perspective(200px) rotateX(10deg);
  letter-spacing: 0.125em;
}
.retro-btn {
  text-transform: uppercase;
  background: 0 0;
}
.retro-btn.lg .btn {
  width: 294px;
  height: 54px;
  font-size: 17px;
  line-height: 50px;
}
.retro-btn.lg
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  padding-top: 0;
  letter-spacing: 0.15em;
}
.retro-btn.sm .btn {
  width: 165px;
  height: 37px;
  font-size: 10.5px;
  line-height: 32.5px;
}
.retro-btn.sm
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  padding-top: 0;
}
.retro-btn.primary .btn .btn-inner .content-wrapper:before {
  background-color: #051d41;
}
.retro-btn.primary .btn .btn-inner .content-wrapper .btn-content {
  background-color: #0d47a1;
}
.retro-btn .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: auto;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  width: 240px;
  height: 46px;
  font-size: 12px;
  line-height: 24px;
  background-color: transparent;
  text-decoration-color: initial;
  border-color: initial;
  -webkit-tap-highlight-color: transparent;
}
.retro-btn .btn,
.retro-btn .btn:focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}
.retro-btn .btn:hover .btn-content-inner:before {
  background-color: rgba(13, 13, 13, 0.1);
}
.retro-btn .btn:before {
  content: " ";
  background-color: rgba(13, 13, 13, 0.3);
  width: calc(100% - 2px);
  height: calc(100% - 4px);
  bottom: -1px;
  left: 1px;
  position: absolute;
  border-radius: 3px;
  z-index: 1;
  -webkit-transition: background 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: background 0.12s ease-out, -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
}
.retro-btn .btn.btn-left:before {
  -webkit-transform: skewY(1deg) translate3d(0, -0.5px, 0);
  transform: skewY(1deg) translate3d(0, -0.5px, 0);
}
.retro-btn .btn.btn-left .btn-content {
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg);
}
.retro-btn .btn.btn-right:before {
  -webkit-transform: skewY(-1deg) translate3d(0, -0.5px, 0);
  transform: skewY(-1deg) translate3d(0, -0.5px, 0);
}
.retro-btn .btn.btn-right .btn-content {
  -webkit-transform: skewY(1deg);
  transform: skewY(1deg);
}
.retro-btn .btn.btn-center:before {
  -webkit-transform: translate3d(0, -1px, 0);
  transform: translate3d(0, -1px, 0);
}
.retro-btn .btn.btn-center .btn-content {
  -webkit-transform: translate3d(0, 1px, 0);
  transform: translate3d(0, 1px, 0);
}
.retro-btn .btn.btn-active .btn-inner .content-wrapper .btn-content {
  -webkit-transition: background 0.12s ease-out, color 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: background 0.12s ease-out, color 0.12s ease-out,
    -webkit-transform 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    color 0.12s ease-out;
  transition: transform 0.12s ease-out, background 0.12s ease-out,
    color 0.12s ease-out, -webkit-transform 0.12s ease-out;
  -webkit-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
.retro-btn
  .btn.btn-active
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner {
  opacity: 0.1;
}
.retro-btn .btn.btn-active:before {
  -webkit-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
.retro-btn .btn .btn-inner {
  display: block;
  height: 100%;
}
.retro-btn .btn .btn-inner .content-wrapper {
  position: relative;
  font-family: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 3px);
  margin-top: -3px;
}
.retro-btn .btn .btn-inner .content-wrapper:after,
.retro-btn .btn .btn-inner .content-wrapper:before,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before,
.retro-btn
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.retro-btn .btn .btn-inner .content-wrapper:before {
  background-image: initial;
  background-color: #004d40;
  content: " ";
  border-radius: 3px;
  top: auto;
  bottom: -3px;
  z-index: 1;
  -webkit-transition: background 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
  transition: background 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: transform 0.185s ease-out, background 0.185s ease-out;
  transition: transform 0.185s ease-out, background 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
}
.retro-btn .btn .btn-inner .content-wrapper:after {
  background-color: rgba(13, 13, 13, 0.15);
  content: " ";
  border-radius: 3px;
  z-index: 3;
  width: 0;
  top: 2px;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content {
  background-image: initial;
  background-color: #26a69a;
  color: #ebf1f8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 3px;
  text-indent: 0;
  z-index: 3;
  overflow: hidden;
  padding: 0 16px;
  -webkit-transition: border 0.185s ease-out, background 0.185s ease-out,
    color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, background 0.185s ease-out,
    color 0.185s ease-out, -webkit-transform 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out,
    background 0.185s ease-out, color 0.185s ease-out;
  transition: border 0.185s ease-out, transform 0.185s ease-out,
    background 0.185s ease-out, color 0.185s ease-out,
    -webkit-transform 0.185s ease-out;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before,
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
  transition: opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
  transition: transform 0.185s ease-out 0.05s, opacity 0.1125s ease-out 0.05s;
  transition: transform 0.185s ease-out 0.05s, opacity 0.1125s ease-out 0.05s,
    -webkit-transform 0.185s ease-out 0.05s;
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:before {
  content: " ";
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content:after {
  content: " ";
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.retro-btn .btn .btn-inner .content-wrapper .btn-content .btn-content-inner {
  display: block;
  -webkit-transition: opacity 75ms ease-out 0.1125s;
  transition: opacity 75ms ease-out 0.1125s;
}
.retro-btn
  .btn
  .btn-inner
  .content-wrapper
  .btn-content
  .btn-content-inner:before {
  content: attr(label);
  padding-top: 9.5px;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  -webkit-transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  transition: opacity 0.3s ease-out, background-color 0.1125s ease-in;
  opacity: 1;
  z-index: -1;
}

/* keyfrmae */

@keyframes expLevelup {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
